<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="../../../static/styles/admincourse.css">

<head>
    <meta charset="UTF-8">
    <title>ADMIN VIEW: Intro to Deep Learning</title>
</head>

<body>
    <div class="nav-bar">
        <ul>
            <li class="app-name"><strong>AEVO</strong></a></li>
            <li><a href="/course-search">Course Search</a></li>
            <li><a href="/timetable-builder">Timetable Builder</a></li>
            <li><a href="/minors-certificates">Minors and Certificates</a></li>
            <li><a href="/about-us">About Us</a></li>
        </ul>
    </div>
    <h1 id="admin-label">ADMIN VIEW</h1>
    <div class="course-title">
        <h1 style=margin:20px;>PMU085-Intro to Deep Learning</h1>
    </div>
    <div>
        <button type="button">Edit For Admins</button>
    </div>
    <div class="instructor-info">
        <h3>Instructor Information</h3>
        <p><strong>Name:</strong> Rahman Talukdar</p>
        <p><strong>Email:</strong> rahman.talukdar@utoronto.ca</p>
        <p><strong>Office:</strong> BA 1180</p>
    </div>
    <div class="course-description">
        <h3>Course Description</h3>
        <p>This course is a hands-on introduction to deep learning. By the end of the course, you will be able to
            implement deep neural networks to classify images, text, graphs, and other types of data. You will also be
            able to implement deep neural network to generate images and text. Moreover, you will learn how to apply
            tricks to train deep models efficiently, how to debug them, how to train your models without having access
            to human annotations, and how to train your deep models on small data. We will focus on implementing
            deep neural networks in Python, using Numpy and PyTorch libraries.</p>
    </div>

    <div class="course-schedule">
        <h3>Course Offering</h3>
        <h5><strong>Fall</strong></h5>
        <h6>Lec0101</h6>
        <ul>
            <li>Monday 7:00PM-9:00PM</li>
            <li>Wednesday 7:00PM-9:00PM</li>
            <li>Thursday 7:00PM-9:00PM</li>
        </ul>
        <h5><strong>Winter</strong></h5>
        <h6>Lec0103</h6>
        <ul>
            <li>Monday 7:00PM-9:00PM</li>
            <li>Wednesday 7:00PM-9:00PM</li>
            <li>Thursday 7:00PM-9:00PM</li>
        </ul>
    </div>

    <div class="past-syllabus">
        <h3>Past Syllabi</h3>
        <ul>
            <li><a href="/2021-Fall">Fall 2021 Syllabus</a></li>
            <li><a href="/2021-Winter">Winter 2021 Syllabus</a></li>
            <li><a href="/2020-Fall">Fall 2020 Syllabus</a></li>
            <li><a href="/2020-Winter">Winter 2020 Syllabus</a></li>
        </ul>
    </div>


    <div class="past-exams">
        <h3>Past Exam</h3>
        <ul>
            <li><a href="/2021-Fall-exam">Fall 2021 Midterm</a></li>
            <li><a href="/2021-Winter-exam">Winter 2021 Midterm</a></li>
            <li><a href="/2020-Fall-exam">Fall 2020 Midterm</a></li>
            <li><a href="/2020-Winter-exam">Winter 2020 Midterm</a></li>
        </ul>
    </div>

    <div class="pre-requisite">
        <h3>Pre-requisites</h3>
        <ul>
            <li>ECE302</li>
        </ul>
    </div>

</body>

</html>