<!doctype html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="../static/styles/common.css">
<link rel="stylesheet" href="../static/styles/home.css">

<head>
  <meta charset="UTF-8">
  <title>Education Pathways</title>
</head>

<body>
  <div class="nav-bar">
    <ul>
      <li class="app-name"><strong>AEVO</strong></a></li>
      <li><a href="/course-search">Course Search</a></li>
      <li><a href="/timetable-builder">Timetable Builder</a></li>
      <li><a href="/minors-certificates">Minors and Certificates</a></li>
      <li><a href="/about-us">About Us</a></li>
    </ul>
  </div>
  <!-- <div class="common-page-heading-container">
    <h1>Education Pathways</h1>
  </div> -->
  <!-- <div id="home-page-introduction">
    <p>Welcome to CARTE's in-development tool for course selection at UofT. Education Pathways allows for more
      intelligent
      course searching, by matching not just the terms you search, but ones relevant to them. The more terms you search
      for,
      the more relevant your results will be! Even try searching across disciplines for the courses that best cover
      each.
    </p>
    <p>Whatever year you are looking for, Education Pathways will also suggest courses in earlier years that will best
      help
      you to prepare. To get the most out of this, try searching for courses in a later year and see what is suggested
      for
      your current one.</p>
    <div id="home-page-feedback-text">We are looking for feedback to improve Education Pathways and make it more useful
      for students. If you have ideas
      or
      suggestions, please <a href="mailto:alex.olson@utoronto.ca">email us!</a></div>
  </div> -->
  {% from "_formhelpers.html" import render_field %}
  <h3>Course Search</h3>
  <form class="common-page-form" method="post">
    <dl>
      {{ render_field(form.select) }}
      <p>
        Restrict by one of: {{ render_field(form.divisions) }} or {{ render_field(form.departments) }} or {{
        render_field(form.campuses) }}
      </p>
      <p>
        {{ render_field(form.search) }}
      </p>
    </dl>
    <div class="minor-selection-check-list">
      <h5><strong>Select a Minor to filter your search: </strong> </h5>
      <input type="checkbox" id="minor1" name="minor1" value="minor1">
      <label for="minor1"> Advanced Manufacturing</label><br><br>
      <input type="checkbox" id="minor2" name="minor2" value="minor2">
      <label for="minor2"> Artificial Intelligence Engineering</label><br><br>
      <input type="checkbox" id="minor3" name="minor3" value="minor3">
      <label for="minor3"> Engineering Business</label><br><br>
      <input type="checkbox" id="minor4" name="minor4" value="minor4">
      <label for="minor4"> Nanoengineering</label><br><br>
      <input type="checkbox" id="minor5" name="minor5" value="minor5">
      <label for="minor5"> Bioengineering</label><br><br>
      <input type="checkbox" id="minor6" name="minor6" value="minor6">
      <label for="minor6"> Environmental Engineering</label><br><br>
      <input type="checkbox" id="minor7" name="minor7" value="minor7">
      <label for="minor7"> Mechatronics and Robotics Minor</label><br><br>
      <input type="checkbox" id="minor8" name="minor8" value="minor8">
      <label for="minor8"> Music Performance</label><br><br>
      <input type="checkbox" id="minor9" name="minor9" value="minor9">
      <label for="minor9"> Global Leadership</label><br><br>
      <input type="checkbox" id="minor10" name="minor10" value="minor10">
      <label for="minor10"> Sustainable Energy</label><br><br>
      <!-- <input type="submit" value="Submit"> -->
    </div>
    <p>{{render_field(form.top)}} <input class="common-page-submit-btn btn btn-primary" type="submit" value="Search">
    </p>
  </form>
</body>
</doctype>