.nav-bar li.app-name {
    display: block;
    color: #05152D;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 60px;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(233, 233, 233);
}

.nav-bar ul li {
    float: left;
}

.nav-bar ul li a {
    display: block;
    color: #05152D;
    text-align: center;
    font-size: 28px;
    font-family: 'Segoe UI';
    padding: 40px 100px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(255, 255, 255);
}

body {
    font-family: Verdana;
    padding: 40px;
    background-color: #f1f3f4;
}

.course-description {
    padding: 25px;
    background-color: lightskyblue;
    margin: 15px auto;
}

.instructor-info {
    padding: 25px;
    background-color: lightskyblue;
    margin: 15px auto;
}

.course-schedule {
    position: relative;
    font-size: 110%;
    right: 833px;
    width: 770px;
    height: 375px;
    padding: 20px;
    background-color: lightskyblue;
    margin: 15px auto;
}

.past-syllabus {
    position: relative;
    font-size: 180%;
    bottom: 389px;
    right: 160px;
    width: 520px;
    height: 375px;
    padding: 25px;
    background-color: lightskyblue;
    margin: 15px auto;
}

.past-exams {
    position: relative;
    font-size: 180%;
    bottom: 776px;
    left: 405px;
    width: 520px;
    height: 375px;
    padding: 25px;
    background-color: lightskyblue;
    margin: 15px auto;
}

.pre-requisite {
    position: relative;
    font-size: 180%;
    bottom: 1163px;
    left: 964px;
    width: 512px;
    height: 378px;
    padding: 25px;
    background-color: lightskyblue;
    margin: 15px auto;
}